body, html {
  margin-left: 15%;
  margin-right: 15%;
}

body {
  background-color: #ffe8ab;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.shirt {
  margin: auto;
  display: block;
}
